# ollama settings 
llm_model = "gemma3:1b"
embeddings_model = "mxbai-embed-large:latest"
chunk_size = 1000
chunk_overlap = 200
persist_directory = "./chroma_db"
base_url = "http://localhost:11434"
collection_name = "documents"

# groq settings
groq_api_key = "add api key"
groq_embed_model_name="sentence-transformers/all-MiniLM-L6-v2"
groq_model_name="llama-3.3-70b-versatile"
ELEVEN_API_KEY = "add api key"
SERPER_API_KEY="add api key"